.thanks-screen {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;

  .thanks-screen__text {
    width: 550px;
    display: grid;
    row-gap: 3em;
  }

  .thanks-screen__text-container {
    display: grid;
    row-gap: 1em;
  }

  .thanks-screen__button-container {
    justify-self: end;
  }

}