.button {
  min-width: 180px;
  outline: none;
  padding: 1em;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-family: var(--roboto-font);
  text-transform: uppercase;
  cursor: pointer;

  &:not(--ghost) {
    background-color: var(--color-primary);
    color: #fff;
  }

  &.button--ghost {
    background-color: var(--color-common);
    color: var(--color-text-light);
  }
}