.protection-benefits {
  display: grid;
  row-gap: 3em;

  &__plan-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
  }

  
  @media screen and (max-width: 680px) {
    &__plan-cards {
      column-gap: 5px;
      font-size: .9em;
    }
  }
}