.benefits-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1em;

  &__icon {
    line-height: 0;
    font-size: 1.1em;
    color: var(--color-common);
    transition: .3s;
  }

  &__title,
  &__subtitle {
    text-decoration: line-through;
    color: var(--color-common);
    transition: .3s;
  }

  &__text {
    font-family: var(--roboto-font);
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 17px;
  }

  &--bold-title {
    font-weight: 500;
    font-size: 19px;
  }

  &__subtitle {
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 13px;
  }

  &--active &__icon { color: var(--color-primary); }
  &--active &__title { color: var(--color-text); }

  &--active &__title , &__subtitle { text-decoration: none; }

  &--active &__subtitle { color: var(--color-text-light); }
}