.plan-card {
  min-width: 90px;
  border: 2px solid var(--color-common);
  display: grid;
  justify-items: center;
  border-radius: 10px;
  row-gap: 5px;
  background-color: #fff;
  padding: 1.5em 1em;
  box-sizing: border-box;
  cursor: pointer;
  transition: .3s;

  &__price, &__title, &__time {
    width: 100%;
    font-family: var(--roboto-font);
    color: var(--color-text);
  }

  &__title, &__time { font-size: .8em; }

  &__title {
    text-transform: uppercase;
    font-weight: 400;
  }

  &__price {
    display: flex;
    align-items: flex-start;
  }

  &__price_symbol {
    font-size: .8em;
    margin-top: 6px;
  }

  &__price_value {
    font-size: 1.5em;
    font-weight: 500;
  }

  &__time {
    font-weight: 300;
  }

  &.plan-card--select {
    position: relative;
    border-color: var(--color-secondary);
  }

  &__indicator{
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
  }
  
  &__indicator_image {
    width: 18px;
    height: 18px;
  }
}