.selectable-options {
  padding: 1em 0;

  &__title {
    display: block;
    font-weight: 300;
    color: var(--color-text);
    font-size: 1.1em;
    font-family: var(--roboto-font);
    margin-bottom: 1.3em;
  }

  &__options {
    display: grid;
    row-gap: 8px;
  }

}