.insurace-item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  align-items: center;

  .insurace-item__icon,
  .insurace-item__text {
    color: #fff;
  }

  .insurace-item__icon {
    line-height: 0;
    font-size: 1.4em;
  }

  .insurace-item__text {
    font-weight: 300;
    font-family: var(--roboto-font);
    font-size: 17px;
  }
}