$background-height: 728px;

.background {
  display: flex;

  &__children-box {
    height: $background-height;
    background-color: var(--color-primary);
  }
  
  &__image-container {
    width: 376px;
    height: $background-height;
  }
  
  &__image {
    width: inherit;
    height: inherit;
  }
}