$background-height: 728px;

.background {
  display: flex;

  &__children-box {
    height: $background-height;
    background-color: var(--color-primary);
  }
  
  &__image-container {
    width: 376px;
    height: $background-height;
    position: relative;
  }
  
  &__image {
    width: inherit;
    height: inherit;
  }

  &__image-float {
    position: absolute;
    right: -30%;
    bottom: 30%;
  }

  @media screen and (max-width: 680px) {
    display: none;
  }
}