@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --color-primary : #3084ec;
  --color-primary-dark: #2c6cdc;
  --color-secondary : #84cc5c;

  --color-text: #54576e;
  --color-text-light: #8795b7;
  
  --color-common: #dde0ee;
  --color-common-light: #f0f1f9;

  --roboto-font : 'Roboto' , sans-serif;
}

body , html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}